
<div class="nGradientSection">
    <div class="FloatLeft">
        <div class="HeightRow">
            <div class="FloatLeft">
                <label class="Block">Taux appel %</label>
            </div>
            <div class="FloatLeft">
                <input type="text" class="readonly" readonly data-bind="textInput: tauxAppel" />
            </div>
        </div>
    </div>

    <div class="FloatLeft">
        <div class="HeightRow">
            <div class="FloatLeft">
                <label class="Block">Nombre d'ann&eacute;es</label>
            </div>
            <div class="FloatLeft">
                <input type="text" class="readonly" readonly data-bind="textInput: nbAnnees" />
            </div>
        </div>
        <div class="HeightRow">
            <div class="FloatLeft">
                <label class="Block">Ristourne %</label>
            </div>
            <div class="FloatLeft">
                <input type="text" class="readonly" readonly data-bind="textInput: ristourne" />
            </div>
        </div>
        <div class="HeightRow">
            <div class="FloatLeft">
                <label class="Block">Ristourne anticip&eacute;e %</label>
            </div>
            <div class="FloatLeft">
                <input type="text" class="readonly" readonly data-bind="textInput: ristourneAnticipe" />
            </div>
        </div>
    </div>

    <div class="FloatLeft">
        <div class="HeightRow">
            <div class="FloatLeft">
                <label class="Block">Seuil S/P %</label>
            </div>
            <div class="FloatLeft">
                <input type="text" class="readonly" readonly data-bind="textInput: prcSeuilSP" />
            </div>
        </div>
        <div class="HeightRow">
            <div class="FloatLeft">
                <label class="Block">Cotisation retenue %</label>
            </div>
            <div class="FloatLeft">
                <input type="text" class="readonly" readonly data-bind="textInput: prcCotisationRetenue" />
            </div>
        </div>
    </div>
</div>