
<div class="input-box nGradientSection">
    <div style="height: 78px;">
        <div class="FloatLeft">
            <div class="HeightRow">
                <div class="FloatLeft">
                    <label class="Block">Taux appel %</label>
                </div>
                <div class="FloatLeft">
                    <input type="text" class="inputDate numerique" disabled data-bind="autoNumeric: TauxAppel" albmask="pourcentnumeric" />
                </div>
            </div>
        </div>
        <div class="FloatRight PaddingRight">
            <div class="HeightRow">
                <div class="FloatLeft">
                    <label class="Block lblInfo">Nombre d'années</label>
                </div>
                <div class="FloatLeft">
                    <input type="text" class="inputDate numerique" disabled data-bind="autoNumeric: NbAnnees" albmask="numeric" />
                </div>
                <div class="FloatLeft paddingLeft50">
                    <label class="Block lblInfo">Seuil S/P %</label>
                </div>
                <div class="FloatLeft">
                    <input type="text" class="inputDate numerique" disabled data-bind="autoNumeric: PrcSeuilSP" albmask="pourcentnumeric" />
                </div>
            </div>

            <div class="HeightRow">
                <div class="FloatLeft">
                    <label class="Block lblInfo">Ristourne %</label>
                </div>
                <div class="FloatLeft">
                    <input type="text" class="inputDate numerique" disabled data-bind="autoNumeric: Ristourne" albmask="pourcentnumeric" />
                </div>
                <div class="FloatLeft paddingLeft50">
                    <label class="Block lblInfo">Cotisation retenue %</label>
                </div>
                <div class="FloatLeft">
                    <input type="text" class="inputDate numerique" disabled data-bind="autoNumeric: PrcCotisationsRetenues" albmask="pourcentnumeric" />
                </div>
            </div>

            <div class="HeightRow">
                <div class="FloatLeft">
                    <label class="Block lblInfo">Ristourne anticipée %</label>
                </div>
                <div class="FloatLeft">
                    <input type="text" class="inputDate numerique" disabled data-bind="autoNumeric: RistourneAnticipe" albmask="pourcentnumeric" />
                </div>
            </div>
        </div>
    </div>
</div>
