<span id="spnShortCutJs" class="None">Utilisez la combinaison Alt + X pour accéder à la fonctionnalité</span>      
@AlbAddCssJsScripts.AlbAddJsToViews(new UrlHelper(ViewContext.RequestContext), new string[] { "AlbingiaJS/albEndPage.js"}, "~/Scripts/")
