@model ALBINGIA.OP.OP_MVC.Models.AffaireNouvelle.CreationContrat.Cible_InformationBase
<div class="FloatLeft labelCible">
    <label class="Block">Cible*</label>
</div>
<div class="divSouscripteur">
    @if ((Model.CopyMode || Model.IsReadOnly || Model.EditMode || Model.TemplateMode) && !Model.LoadTemplateMode)
    {
        @Html.HiddenFor(m => m.Cible)
        <input type="text" readonly="readonly" tabindex="2" class="readonly inputCible" value="@(Model.Cibles.Find(elm => elm.Value == Model.Cible) != null ? Model.Cibles.Find(elm => elm.Value == Model.Cible).Text : Model.Cible)" title="@(Model.Cibles.Find(elm => elm.Value == Model.Cible) != null ? Model.Cibles.Find(elm => elm.Value == Model.Cible).Text : Model.Cible)"/>
    }
    else
    {
        @Html.AlbDropDownListFor(m => m.Cible, Model.Cibles, "Cible", htmlAttributes: new { id = "Cible", @tabindex = "2", @class = "inputCible", @albEmplacement = "creation" }, generateTitle: true)
    }
</div>


