body .flex-table.portees-garantie {
  width: 730px;
}
body .flex-table.portees-garantie .risque {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
body .flex-table.portees-garantie .flex-header {
  width: 100%;
}
body .flex-table.portees-garantie .flex-header > span.cell {
  width: auto;
}
body .flex-table.portees-garantie .flex-header > span.check {
  flex: 1;
}
body .flex-table.portees-garantie .flex-header > span.risque {
  flex: 35;
}
body .flex-table.portees-garantie .flex-header.has-bonus > span.check {
  flex: 2;
}
body .flex-table.portees-garantie .flex-header.has-bonus > span.risque {
  flex: 26;
}
body .flex-table.portees-garantie .flex-header.has-bonus > span.valeur {
  flex: 15;
}
body .flex-table.portees-garantie .flex-header.has-bonus > span.forfait-taux {
  flex: 17;
}
body .flex-table.portees-garantie .flex-header.has-bonus > span.montant-ht {
  flex: 12;
}
body .flex-table.portees-garantie .flex-body {
  width: 100%;
}
body .flex-table.portees-garantie .flex-body.scroll {
  max-height: 180px;
}
body .flex-table.portees-garantie .flex-body > div .cell {
  width: auto;
  background-color: white;
}
body .flex-table.portees-garantie .flex-body > div .check {
  flex: 1;
}
body .flex-table.portees-garantie .flex-body > div .check input {
  margin: auto;
}
body .flex-table.portees-garantie .flex-body > div .risque {
  flex: 35;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .check {
  flex: 2;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .risque {
  flex: 26;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .valeur-detail {
  flex: 15;
  display: flex;
  margin: 0 1px;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .valeur-detail .valeur {
  margin-left: 0;
  flex: 7;
  text-align: center;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .valeur-detail .unite {
  flex: 5;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .valeur-detail .type {
  flex: 5;
  margin-right: 0;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .forfait-taux {
  flex: 17;
  display: flex;
  margin: 0 1px;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .forfait-taux .valeur {
  flex: 10;
  margin-left: 0;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .forfait-taux .valeur input {
  text-align: right;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .forfait-taux .unite {
  flex: 8;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .forfait-taux .type {
  flex: 8;
  margin-right: 0;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .montant-ht {
  flex: 12;
  text-align: right;
}
body .flex-table.portees-garantie .flex-body > div.has-bonus .montant-ht span {
  padding-right: 7px;
}
body .flex-table.portees-garantie .flex-footer {
  display: flex;
  font-weight: bold;
  width: 100%;
}
body .flex-table.portees-garantie .flex-footer span.cell {
  background-color: #EDEEFF;
}
body .flex-table.portees-garantie .flex-footer .line-span {
  flex: 86;
}
body .flex-table.portees-garantie .flex-footer .montant-label {
  flex: 34;
}
body .flex-table.portees-garantie .flex-footer .montant-label .cell {
  padding-left: 7px;
}
body .flex-table.portees-garantie .flex-footer .montant {
  flex: 24;
  text-align: right;
}
body .flex-table.portees-garantie .flex-footer .montant .cell {
  padding-right: 7px;
}