@model ALBINGIA.OP.OP_MVC.Models.ModelesPages.ModeleStatistiqueOffreContratPage

<div class="HorizontalFullWithGroup">
    @Html.Partial("RechercheOffreContrat", Model.Filtre)
</div>

<div id="ListResultOffreContrat" class="HorizontalFullWithGroup">
    @Html.Action("List", "Statistique", new { filtre=Model.Filtre})
</div>



