
@model ALBINGIA.OP.OP_MVC.Models.ModelesPages.ModeleCreationAffaireNouvellePage
@{
    ViewBag.Title = "Choix Risques/Objets";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@Html.Partial("~/Views/Shared/_InfoTab.cshtml", Model)

@using (Ajax.BeginForm("SetRisquesSelection", "CreationAffaireNouvelle", null,
    new AjaxOptions {
        UpdateTargetId = "selectionRisque",
        OnBegin = "affaireNouvelle.choixRisques.startUpdate",
        OnComplete = "affaireNouvelle.choixRisques.updateDone"
    },
    new { id = "ajaxForm" })) {
    <div id="selectionRisque">
        @Html.Action("LoadRisquesSelection", new { id = Newtonsoft.Json.JsonConvert.SerializeObject(Model.SelectionRisquesObjets) })
        @*@Html.Partial("_RisquesAffaireNouvelle", Model.SelectionRisquesObjets)*@
    </div>
}

@using (Html.BeginForm("ChoixOptions", "CreationAffaireNouvelle", FormMethod.Post, new { id = "form1", @class = "hide-it" })) {
}

<div class="GroupFull GroupWithBorder ButtonsHeight">
    <div class="ActionButtons ActionButtonRight">
@*<button id="btnAnnuler" type="button" albshortcut="true" accesskey="a"><u>A</u>nnuler</button>*@
    <button id="btnValiderRisquesObjets" accesskey="S"><u>S</u>uivant</button>
</div>
</div>

@section scripts {
    @AlbAddCssJsScripts.AlbAddJsToViews(new UrlHelper(ViewContext.RequestContext), new[] { "affaireNouvelle-choixRisques.js" })
}