<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="EasyCom" connectionString="Server=10.1.2.2;User Id=YALBIN;Password=YALBIN;Init Libl=&quot;ZALBINKHEO;GENERALE;YAlbinPgm&quot;;Pooled=true;PoolLimit=20;PoolTimeout=10" />
  </connectionStrings>
</configuration>