
<div class="ko-cloak conceal">
    <div class="container container-details">
        <div class="container-lines">
            <div class="input-line">
                <!-- ko if: hasNoAlerts -->
                <span>Aucun retard de paiement, sinistre ou impayé n'a été constaté pour ce preneur d'assurance</span>
                <!-- /ko -->
                <!-- ko ifnot: hasNoAlerts -->
                <div data-bind="jqUiTabs: { className: 'tabbed-view', options: {} }">
                    <ul>
                        <li><a href="#tabRetardsPaiement" data-bind="click: contextChanged">Retards de paiement</a></li>
                        <li><a href="#tabImpayes" data-bind="click: contextChanged">Impayés</a></li>
                        <li><a href="#tabSinistres" data-bind="click: contextChanged">Sinistres</a></li>
                    </ul>

                    <div id="tabRetardsPaiement">
                        <retards-paiement-preneur params="codePreneur: IdPreneur(), pageSize: PageSize()"></retards-paiement-preneur>
                    </div>

                    <div id="tabImpayes">
                        <impayes-preneur params="codePreneur: IdPreneur(), pageSize: PageSize()"></impayes-preneur>
                    </div>

                    <div id="tabSinistres">
                        <sinistres-preneur params="codePreneur: IdPreneur(), pageSize: PageSize()"></sinistres-preneur>
                    </div>

                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>

    <div class="container container-foot">
        <div class="input-line">
            <div class="flex8-12">
            </div>
            <div class="flex1-12">
                <button type="button" data-bind="click: hide">Fermer</button>
            </div>
        </div>
    </div>
</div>
