<?xml version="1.0" encoding="utf-8"?>

<!--
  For more inDev on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <!--<configSections>
    <section name="AppDynamicsAgent" type="AppDynamics.Agent.Config.Section, AppDynamics.Agent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3f604d9e4f8e4985" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>-->
  <connectionStrings>
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.36;User Id=ZKDEV;Password=ZKDEV;Init Libl=&quot;*LIBL;SYSIBM&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.36;User Id=ZKFIX;Password=ZKFIX;Init Libl=&quot;*LIBL;SYSIBM&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
    <add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.36;User Id=ZKALIF;Password=ZKALIF;Init Libl=&quot;*LIBL;SYSIBM&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.2;User Id=ZFORM;Password=ZFORM;Init Libl=&quot;*LIBL&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.36;User Id=KPRE;Password=KPRE;Init Libl=&quot;*LIBL&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
  </connectionStrings>
  <appSettings configSource="Configs\Dev\configuration.appSettings.xml" />
  <!--
    Pour obtenir une description des modifications de web.config pour .NET 4.5, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\kheops.web.log" />
        <remove name="Default" />
      </listeners>
    </trace>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\messages.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\servLogger.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.1">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--<customErrors mode="On" defaultRedirect="~/Erreurs/Index/accesDenied">
      <error statusCode="401" redirect="~/Erreurs/Index/accesDenied" />
    </customErrors>-->
    <customErrors mode="RemoteOnly" />
    <!--<error statusCode="403"
           subStatusCode="-1"
           prefixLanguageFilePath=""
           path="C:\inetpub\wwwroot\errors\403.htm"
           responseMode="File" />-->
    <authentication mode="Windows" />
    <!--<identity impersonate="true" password="Lune@92000" userName="albingia\AP_INTRANET" />-->
    <authorization>
      <deny users="?" />
    </authorization>
    <trace enabled="true" />
    <globalization fileEncoding="utf-8" requestEncoding="UTF-8" responseEncoding="UTF-8" culture="fr-FR" uiCulture="fr-FR" />
    <httpRuntime targetFramework="4.7.1" maxUrlLength="2500" maxRequestLength="2147483647" requestPathInvalidCharacters="" />
    <identity impersonate="false" />
    <sessionState timeout="20" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <httpHandlers>
    </httpHandlers>
  </system.web>
  <!--<location path="Content/Erreurs/vErreurs.css">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>-->
  <location path="TxtControlViewer">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Public">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" defaultResponseMode="Redirect" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="MvcHttpHandler" />
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <security>
      <authentication>
        <windowsAuthentication enabled="true" useKernelMode="true">
          <providers>
            <clear />
            <add value="NTLM" />
            <add value="Negotiate" />
          </providers>
          <extendedProtection tokenChecking="None" />
        </windowsAuthentication>
        <basicAuthentication enabled="false" />
        <anonymousAuthentication enabled="false" />
      </authentication>
      <requestFiltering allowDoubleEscaping="true">
        <hiddenSegments />
        <requestLimits maxUrl="50000" maxQueryString="50000" />
      </requestFiltering>
    </security>
    <staticContent>
      <!--<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="600.00:00:00"  />-->
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
    <!--<caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".html" location="Downstream" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="1.00:00:00" />
        <add extension=".css" location="Downstream"  policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="1.00:00:00" />
        <add extension=".js" location="Downstream"  policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="1.00:00:00" />
      </profiles>
    </caching>-->
    <!--<httpProtocol allowKeepAlive="false" />-->
    <httpProtocol allowKeepAlive="true">
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=11" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--<system.net>
    <mailSettings>
      <smtp configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
          <CipherData>
            <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAQsROdWKaiUOWhiI0rglabQQAAAACAAAAAAADZgAAwAAAABAAAACnwQoc7SKbhGJLy5BLwXRpAAAAAASAAACgAAAAEAAAAN4gloISYG8jx+GDRkKGoz1IAQAAdZRPwqYFuWB5o1yTLrf1rSCJKj9Qxa/stmT8uq4CxYYkrdDFZ1qUgcOdwz0MKDcQCTGirR18FM+4U1jUNg+JkAs+fbeXXMaMZEFaHlVkCv0TbGWB0Ded6oVuCVG5L6PQKffxREOQbz50/fY8pIL3VA4uohok9dL05gJ+UkxONya9aY7jeH66KFuis2Tkkm1LuP027zbQnMZrrvGscAG+OkRWYzi2hMt8yyxkkWd9c/dhFEWIh+Z5oTzzyVDq6EMxnxQDVOxhZ7COkspTu19V6nsiFg3lsNvgWQLYY9K5EN4xGs9b+nwtBL7AVXsTpzSiDDP7So2K+6m6KeJOGVfh21I7u7x/2tm7hI2fJx65BVhg6l9gBjKPq2W3IgIGHN8qaFaTXZA2buMML9tMY3Gwsq6NQRQ4I7QG9bN2v+/M2YZRVwRL8xl2QhQAAACJnYbKBpAP7qTjy1tHGEBNNuh3AA==</CipherValue>
          </CipherData>
        </EncryptedData>
      </smtp>
    </mailSettings>
  </system.net>-->
  <!--<system.net>
    <mailSettings>
      <smtp configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
          <CipherData>
            <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAc4BIktjUDUW3GpIQ8RuqNAQAAAACAAAAAAADZgAAwAAAABAAAADVJFz99Of2awnL3W1vButeAAAAAASAAACgAAAAEAAAALdsu5HSPcaG5ldQgsWoRwRQAQAAoJxwoxLUyovoy0yULu2amKkl0nMNSESA/2FvKHEenuVzEXn5CkGZrpMMKGuamlZlyt3toFwuut+TCJUy1DQpcWk4CLoP2RQJP4JsFQugJMNfa4GP033jh7TO6bGSM553h73pzjD2aryPbcW5f/UlrvAf6yWn59yQPbdZfLnC5cIzpg0au/cCJ3xqSlGJbeB9kwWCrl5hob/4vAiMkCwUTThUXArmHD+4E/bv6iX/WUTmi2rwa+I31c+KIi5oOPA09LTwQISiOUfVpAEXq1C+8z8Ytqy2bECMuUVqj5SE3tESYA+LWeyPSmtTeY/y5gtff5qqaoSN/fF2Kd6YpuVvpiTsmxcwAExdOHdom1ygH8K7NwOGmkCkaTtyybUWQf3vwXSD3+rvMWkoWt4/Oa+hiSPb6DstJZN4rmayTVX8oTowZflAAu5qkoPZqrQKek9qFAAAABGfTVl4ULBbjpkNxEDHWTKB4pd9</CipherValue>
          </CipherData>
        </EncryptedData>
      </smtp>
    </mailSettings>
  </system.net>-->
  <system.net>
    <mailSettings>
      <smtp from="admin.outilprod@albingia.fr">
        <network host="albingia-fr.mail.protection.outlook.com" port="25" userName="administrateur@albingia.fr" />
      </smtp>
    </mailSettings>
    
    <!--<defaultProxy enabled="false">
      <proxy usesystemdefault="False" bypassonlocal="False" autoDetect="False" proxyaddress="http://localhost:8888" />
    </defaultProxy>-->
    
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mapster" publicKeyToken="2f39883af23c29a8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.4460.0.49" newVersion="17.4460.0.49" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.4460.0.49" newVersion="17.4460.0.49" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="context" type="ALBINGIA.Framework.Common.Tools.ContextBehaviorExtensionElement, ALBINGIA.Framework.Common" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <context />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings configSource="Configs\Dev\system.serviceModel.bindings.debug.xml" />
    <client configSource="Configs\Dev\system.serviceModel.clients.xml" />
  </system.serviceModel>
  <location path="Scripts">
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="true" />
        </authentication>
      </security>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <location path="Content">
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="true" />
        </authentication>
      </security>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
      </staticContent>
    </system.webServer>
  </location>

</configuration>