<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OP.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <!--<applicationSettings>
        <OP.Services.Properties.Settings>
            <setting name="OP_Services_WSeditique_KheoBridge" serializeAs="String">
                <value>http://wseditique/KheoBridge.asmx</value>
            </setting>
            <setting name="OP_Services_WSKheoDev_KheoBridge" serializeAs="String">
                <value>http://kheobridge:8082/KheoBridge.asmx</value>
            </setting>
        </OP.Services.Properties.Settings>
    </applicationSettings>-->
 <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
 <applicationSettings>
  <OP.Services.Properties.Settings>
   <setting name="OP_Services_WSKheoBridge_KheoBridge" serializeAs="String">
    <value>http://editique.ws.support.albingia.local/KheoBridge.asmx</value>
   </setting>
  </OP.Services.Properties.Settings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
