<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.36;User Id=ZKDEV;Password=ZKDEV;Init Libl=&quot;*LIBL;SYSIBM&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.36;User Id=ZKSPP;Password=ZKSPP;Init Libl=&quot;*LIBL;SYSIBM&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120"/>-->
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.36;User Id=ZKFIX;Password=ZKFIX;Init Libl=&quot;*LIBL;SYSIBM&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
    <add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.36;User Id=ZKALIF;Password=ZKALIF;Init Libl=&quot;*LIBL;SYSIBM&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.36;User Id=ZFORM;Password=ZFORM;Init Libl=&quot;*LIBL&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.36;User Id=KPRE;Password=KPRE;Init Libl=&quot;*LIBL&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
  </connectionStrings>
  <appSettings>
    <!--LAB/LAT-->
    <add key="UrlLablatWebApi" value="http://lab.albingia.local:88/WebApi/"/>
    <add key="UrlVerificationPartenaire" value="api/Search"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
