@model ALBINGIA.OP.OP_MVC.Models.MetaData.Bandeau_MetaData
<div id="divInfoBandeauBis" class="CommonForm FloatLeft" style="padding: 4px; border-radius: 10px; border: 2px solid rgb(204, 204, 204); left: 151px; top: 82px; width: 1202px; height: 551px; display: block; position: absolute; z-index: 50; background-color: white;">
    test
</div>
