@model ALBINGIA.OP.OP_MVC.Models.ModelesPages.ModeleFraisAccessoiresPage
<div id="BodyContainer" class="GroupFull GroupWithBorder TotalWidth">

    <div class="GroupTitle">
        @Model.PageTitle
    </div>

    <div class="HorizontalFullWithGroup">
        @Html.Partial("Recherche", Model.Filtre)
    </div>

    <div id="ListResultFrais" class="HorizontalFullWithGroup">
        @Html.Action("List", "FraisAccessoires", new { filtre = Model.Filtre })
    </div>

    <div id="RetourBlok" class="HorizontalFullWithGroup None" >
        <div class="GradientSection rPanel fullWidth">
            <button id="btnRetour">Retour</button>
        </div>
    </div>

</div>


