@{
    Layout = "LayoutErrors.cshtml";
}
<div>
    <div id="imgErreurBrowser"><img src="@Url.Content("/Content/Images/alertes/notif_icn_critical.png")" alt="" /></div>
    <div id="msgPrincipalBrowser"><h2>Cette appalication ne peut pas fonctionner correctement sur ce navigateur</h2></div>
    <div id="msgSecondaireBrowser">Vous pouvez utiliser Internet explorer à partir de la version 8.</div>
</div>
