@model ALBINGIA.OP.OP_MVC.Models.ModelesClauses.ModeleContexte
@*<div class="HorizontalFullWithGroup">*@
<div class="nGradientSection">
    <div class="HeightRow">
        <div class="GenericColumn">
            <div class="FloatLeft">
                <label class="Block">Contexte*</label>
            </div>
            <div class="FloatLeft">
                @Html.AlbDropDownListFor(m => m.Contexte, Model.Contextes, "Contexte", htmlAttributes: new { @id = "Contexte" }, generateTitle: true)
            </div>
        </div>
    </div>
</div>
@*</div>*@
