@model ALBINGIA.OP.OP_MVC.Models.ModelesClauses.ModeleDDLSousRubrique
<div id="SousRubriqueDiv">
    @*<div class="GenericColumn">*@
    <div class="FloatLeft PaddingLeft">
        <label class="Block">Sous-rubrique</label>
    </div>
    <div class="FloatLeft">
        @Html.AlbDropDownListFor(m => m.SousRubrique, Model.SousRubriques, "SousRubrique", htmlAttributes: new { @id = "SousRubrique" }, generateTitle: true)
    </div>
    @*</div>
    <div class="GenericColumn">*@
    @Html.Partial("../Clausier/ListSequences", Model.ModeleDDLSequence)
    @*</div>*@
</div>
