@model ALBINGIA.OP.OP_MVC.Models.ModelesClauses.ModeleClausier
<div class="CommonForm FloatLeft">
    <div class="GroupFull GroupWithBorder">
        <table>
            <tr>
                <td>Clause</td>
                <td>@Model.Code -
                </td>
                <td>@Model.Libelle
                </td>
            </tr>
            <tr style="display: none">
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div style="width: 385px; height: 50px; border: 1px solid #cdcdcd; color: #cdcdcd; background-color: white;"></div>
    </div>
    <div class="GroupFull GroupWithBorder ButtonsHeight">
        <div class="ActionButtons ActionButtonRight">
            <input type="button" value="Fermer" id="btnAnnulerDivFlottante" />
        </div>
    </div>
</div>


