<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  
  <connectionStrings>
    <!-- Connection string used during the deployment step-->
    <add name="KheopsCnx" providerName="IBM.Data.DB2.iSeries" connectionString="DataSource=10.1.2.2;UserID=XXXXX;Password=YYYYY; DataCompression=True;Initial Catalog=B700D0F0;" />
    <!-- Connection string test for OS7 AS400-->
    <!-- <add name="KheopsCnx" providerName="IBM.Data.DB2.iSeries" connectionString="DataSource=10.1.2.207;UserID=XXXXX;Password=YYYYY; DataCompression=True;Initial Catalog=S0620BAT;" /> -->
    <!--Connection string OleDb for Powershell Script-->
    <add name="PowershellScriptConnectionString" connectionString="Provider=IBMDA400;Data Source=10.1.2.2;User Id=XXXXX;Password=YYYYY"/>
  </connectionStrings>
  
  <appSettings>    
    <!-- Path Powershell && script .ps1 -->
    <add key ="PowershellPath" value="C:\\windows\\system32\\windowspowershell\\v1.0\\powershell.exe"/>
    <add key ="ScriptPath" value="..\\..\\..\\OutilLivraison.Presenters\\LivraisonSQL\\LivraisonSqlScript.ps1"/>
    <!-- Schema name -->
    <add key ="Constr" value="ZALBINKHEO"/>
    <add key ="Rec" value="ZALBINKQUA"/>
    <add key ="Form" value="ZALBINKFRM"/>
    <add key ="Support" value="ZALBINKSPP"/>
    <add key ="Fix" value="ZALBINKFIX"/>
    <add key ="PProd" value="YKPREDTA"/>
    <add key ="Prod" value="YALBINFILE"/>
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
    <!-- Data for KheopsClausierArchivor and KheopsReferentialDeployer -->
    <add key="NB_Lines_By_Query" value="1" />
    <add key="TFS_Url" value="http://tfs2018/DefaultCollection" />
    <add key="TFS_Project" value="Kheops" />
    <add key="TFS_Repository" value="100" />
    <add key="TFS_Domain" value="ALBINGIA" />
    <add key="TFS_Development_ClausierPath" value="Kheops/Construction/Paramétrage/Clausier" />
    <add key="TFS_Recette_ClausierPath" value="Kheops/Recette/Paramétrage/Clausier" />
    <add key="TFS_Support_ClausierPath" value="Kheops/Support/Paramétrage/Clausier" />
    <add key="TFS_Hotfix_ClausierPath" value="Kheops/Hotfix/Paramétrage/Clausier" />
    <add key="TFS_Formation_ClausierPath" value="Kheops/Formation/Paramétrage/Clausier" />
    <add key="TFS_Preproduction_ClausierPath" value="Kheops/PréProduction/Paramétrage/Clausier" />
    <add key="TFS_Production_ClausierPath" value="Kheops/Production/Paramétrage/Clausier" />    
    
    <add key="Source_REALISATION_ClausierPath" value="\\Files01\Kheops\Dev\Clausier" />
    <add key="Source_RECETTE_ClausierPath" value="\\Files01\Kheops\Qualif\Clausier" />
    <add key="Source_SUPPORT_ClausierPath" value="\\Files01\Kheops\Spp\Clausier" />
    <add key="Source_HOTFIX_ClausierPath" value="\\Files01\Kheops\Fix\Clausier" /> 
    <add key="Source_FORMATION_ClausierPath" value="C:\Users\pjuhel\Documents\Test\Clausier" />
    <add key="Source_PREPRODUCTION_ClausierPath" value="\\Files01\Kheops\Preprod\Clausier" />
    <add key="Source_PRODUCTION_ClausierPath" value="\\Kedi\Edikheops\Production\Clausier" />

    <add key="TFS_Development_DataRef" value="Kheops/Construction/Paramétrage/DataRef" />
    <add key="TFS_Recette_DataRef" value="Kheops/Recette/Paramétrage/DataRef" />
    <add key="TFS_Support_DataRef" value="Kheops/Support/Paramétrage/DataRef" />
    <add key="TFS_Hotfix_DataRef" value="Kheops/Hotfix/Paramétrage/DataRef" />
    <add key="TFS_Formation_DataRef" value="Kheops/Formation/Paramétrage/DataRef" />
    <add key="TFS_Preproduction_DataRef" value="Kheops/PréProduction/Paramétrage/DataRef" />
    <add key="TFS_Production_DataRef" value="Kheops/Production/Paramétrage/DataRef" />  
    
    <add key="TFS_Conflicts_Path_Prefix" value="C:\\TFS_Conflicts" />
    
  </appSettings>
</configuration>