<div class="GroupFull GroupWithBorder TotalWidth ButtonsHeight">
    <div class="ActionButtons ActionButtonsSearch ActionButtonLeft">
        <button id="btnAnnulerRechercheOffre" type="button" albShortcut="true" albTargetScreen="resultatRecherche" data-accesskey="a"><u>A</u>nnuler la recherche</button>
    </div>
    <div id="LoadingDiv" class="FloatLeft">
        <img src="@Url.Content("/Content/Images/ajax-loader.gif")" alt="" />
    </div>
    <div class="ActionButtons ActionButtonsSearch ActionButtonRight">
        <button type="button" id="btnInitialize" tabindex="24" albShortcut="true" albTargetScreen="resultatRecherche" data-accesskey="i">Ré<u>i</u>nitialiser</button>
        <button type="submit" id="btnRechercher" tabindex="22" disabled="disabled" albTargetScreen="resultatRecherche" albShortcut="true" data-accesskey="r"><u>R</u>echercher</button>      
    </div>
</div>
