@model ALBINGIA.OP.OP_MVC.Models.ModeleTransverse.ModeleCommonCabinetPreneur
<div id="BoiteDialogAssure" class="nInfoBandeau">
    <div class="GradientSection BlocDialogInfoGenLight FloatLeft">
        <div class="HeightRow">
            <label class="titleBoiteDiag">Informations Assuré</label>
        </div>
        @Html.Partial("BoitesDialogueDetails/InfosGeneralesEntite", Model)       
    </div> 
</div>