@model ALBINGIA.OP.OP_MVC.Models.ModeleTransverse.ModeleCommonCabinetPreneur
<div class="FloatLeft">
    <label class="FloatLeft LabelDelegation">Délégation :</label>
    <label class="Block FloatLeft">@Model.Delegation</label>
</div>
<div class="FloatLeft">
    <label class="FloatLeft LabelDelegation">Inspecteur :</label>
    <label class="Block FloatLeft">@(Model.NomInspecteur + " " + Model.PrenomInspecteur)</label>
</div>
 <div class="TinyHeightRow"></div>

