<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AppDynamicsAgent" type="AppDynamics.Agent.Config.Section, AppDynamics.Agent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3f604d9e4f8e4985" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OP.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<applicationSettings configSource="Configs\Dev\configuration.ServicesProperties.xml"/>-->
  <!--
    Pour obtenir une description des modifications de web.config pour .NET 4.5, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.net>
    <defaultProxy enabled="false">
      <proxy bypassonlocal="False" proxyaddress="http://localhost:8888/" usesystemdefault="False" autoDetect="False" />
    </defaultProxy>
  </system.net>
  <appSettings configSource="Configs\Dev\configuration.appSettings.xml" />
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:latest" />
    </compilers>
  </system.codedom>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <!--<add name="EasyComSqlClient Data Provider" invariant="System.Data.EasycomClient" description="Easycom For .NET Client" type="System.Data.EasycomClient.EasycomClientFactory,System.Data.EasycomClient,Version=2.0.0.6, Culture=neutral, PublicKeyToken=32fd8354c170411b"/>-->
      <add name="EasyComSqlClient Data Provider" invariant="System.Data.EasycomClient" description="Easycom For .NET Client" type="System.Data.EasycomClient.EasycomClientFactory, System.Data.EasycomClient,   Version=4.6.1.11, Culture=neutral" />
    </DbProviderFactories>
  </system.data>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\temp\kheops.log" />
        <remove name="Default" />
      </listeners>
    </trace>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\messages.svclog" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\servLogger.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
    </diagnostics>
    <services configSource="Configs\Dev\system.serviceModel.services.xml" />
    <behaviors configSource="Configs\Dev\system.serviceModel.behaviors.xml" />
    <bindings configSource="Configs\Dev\system.serviceModel.bindings.xml" />
    <client configSource="Configs\Dev\system.serviceModel.clients.xml" />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" minFreeMemoryPercentageToActivateService="1" />
    <extensions>
      <behaviorExtensions>
        <add name="exceptionLoggerTelemetry" type="ALBINGIA.Framework.Common.Behaviours.ExceptionBehaviorExtensionElement, ALBINGIA.Framework.Common" />
        <add name="serviceTelemetry" type="Microsoft.ApplicationInsights.Wcf.ServiceTelemetryExtensionElement, Microsoft.AI.Wcf" />
        <add name="clientTelemetry" type="Microsoft.ApplicationInsights.Wcf.ClientTelemetryExtensionElement, Microsoft.AI.Wcf" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
      </authentication>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Custom" />
  </system.webServer>
  <connectionStrings configSource="Configs\Dev\configuration.connectionStrings.xml" />
  <AppDynamicsAgent>
    <controller-info>
      <controller-host>portikeconsulting.saas.appdynamics.com</controller-host>
      <controller-port>443</controller-port>
      <controller-ssl-enabled>true</controller-ssl-enabled>
      <!-- If the controller is running in multi-tenant mode, specify the account name
           and access key for this agent to authenticate with the controller.
           If the controller is running in single-tenant mode, there is no need to
           specify these values. -->
      <account-name>PORTIKEConsulting</account-name>
      <account-access-key>sp4u83huw8fe</account-access-key>
      <!--  For Auto Agent Registration specify the application name, tier name,
            and optionally, node name. If the application and/or tier does not
            exist already it will be created. -->
      <application-name>ALB_0P</application-name>
      <tier-name>Machine Agent</tier-name>
      <!--  Recommended to leave it empty if your application tier node has more than one instance,
            as in case of IIS applications running in web garden (app pool) or in the case when nodes of the same tier
            run on different machines.
            If unsure - leave it empty, It will be auto-generated-->
      <node-name />
      <proxy disable="true">
        <host />
        <port />
      </proxy>
    </controller-info>
    <app-agent-configuration>
      <configuration-properties />
      <agent-services>
        <agent-service name="AgentOperationService" enabled="true">
          <configuration-properties />
          <configuration />
        </agent-service>
        <agent-service name="BCIEngine" enabled="true">
          <configuration-properties />
          <configuration />
        </agent-service>
        <agent-service name="CLRMetricsService" enabled="true">
          <configuration-properties>
            <!--<property name='update-interval-in-seconds' value='60'/>-->
          </configuration-properties>
          <configuration>
            <perf-counters>
              <!--  In this section you can add CLR related performance counters
                    The list of possible .NET performance counters is documented here
                    Performance Counters in the .NET Framework
                    http://msdn.microsoft.com/en-us/library/w8f5kw2e%28v=VS.80%29.aspx -->
              <!-- Example: <counter cat=".NET CLR Exceptions" name="# of Exceps Thrown"/> -->
            </perf-counters>
          </configuration>
        </agent-service>
        <agent-service name="SnapshotService" enabled="true">
          <service-dependencies>BCIEngine</service-dependencies>
          <configuration-properties />
        </agent-service>
        <agent-service name="TransactionMonitoringService" enabled="true">
          <service-dependencies>BCIEngine,SnapshotService</service-dependencies>
          <configuration-properties />
        </agent-service>
      </agent-services>
    </app-agent-configuration>
    <interceptors />
    <EUM enable="True" />
  </AppDynamicsAgent>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.net>
  <defaultProxy>
    <proxy autoDetect="false" bypassonlocal="false" proxyaddress="http://127.0.0.1:8888" usesystemdefault="false" />
  </defaultProxy>
  </system.net>-->
</configuration>