@model ALBINGIA.OP.OP_MVC.Models.ModelesParamCible.ModeleRechercheFamille
<div class="CommonForm FloatLeft">
    <div class="nHorizontalFullWithGroup WidthGroupRecherche">
        <div class="nGradientSection FiltreGradientSection">
            <div class="HeightRow">
                <div class="FloatLeft" style="margin-right: 20px;">
                    <b>Recherche d'une Famille </b>
                </div>
            </div>
            <div class="FloatLeft">
                <label class="Block" style="padding-top: 7px;">Code Concept</label>
            </div>
            <div class="FloatLeft">
                <input id="Concept" class="InputConcept" maxlength="5" albautocomplete="autoCompCodeConcept" value="" />
            </div>
            <div class="FloatLeft">
                <label class="Block" style="padding-top: 7px; width: 75px;">Code Famille</label>
            </div>
            <div class="FloatLeft">
                <input type="text" id="CodeFamilleRecherche" name="CodeFamilleRecherche" albautocomplete="autoCompCodeFamille" value="" />
            </div>
            <div class="FloatLeft Loupe" id="RechercherFamButton" title="Recherche">
                <img src="@Url.Content("/Content/Images/loupe.png")" alt="Rechercher" title="Rechercher" class="CursorPointer"/>
            </div>
            @*<div class="FloatLeft" style="padding-left: 10px;">
                <button type="button" value="Réinitialiser" id="btnInitializeRech" tabindex="24" albshortcut="false" data-accesskey="i" style="padding-top: 5px;">Ré<u>i</u>nitialiser</button>
            </div>*@
        </div>
        <div id="divRechercherResult" class="nGradientSection RechercheGradientSection">
            @Html.Partial("/Views/ParamCible/RechercheFamille.cshtml")
        </div>
    </div>
    <div class="GroupWithBorder ButtonsHeight WidthButton  ">
        <div class="ActionButtons ActionButtonRight">
            <button id="btnFermerRecherche" type="button" albshortcut="true" data-accesskey="f"><u>F</u>ermer</button>
        </div>
    </div>

</div>
