<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.2;User Id=ZFORM;Password=ZFORM;Pooled=true;PoolLimit=20;PoolTimeout=120;JobName=UNIT_TEST" />-->
    <add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.36;User Id=ZKALIF;Password=ZKALIF;Pooled=true;PoolLimikt=20;PoolTimeout=120;JobName=UNIT_TEST" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1308.2120" newVersion="4.1.1308.2120" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>