
<div class="ko-cloak conceal">
    <div class="container container-details">
        <div class="page-results">
            <!-- ko ifnot: initialized -->
            <div class="padding5">Chargement en cours ...</div>
            <!-- /ko -->
            <!-- ko if: initialized -->
            <!-- ko ifnot: hasResults -->
            <div class="padding5">Aucun retard de paiement à déclarer</div>
            <!-- /ko -->
            <!-- ko if: hasResults -->
            <div class="flex-table pad7">
                <div class="flex-header vertical-gradient">
                    <span class="cell short">Branche</span>
                    <span class="cell long">N° Contrat</span>
                    <span class="cell short">Aliment</span>
                    <span class="cell long">Date Val Contrat</span>
                    <span class="cell long">Courtier</span>
                    <span class="cell long">Echéance</span>
                    <span class="cell long">Type relance</span>
                    <span class="cell long">Montant Prime HT</span>
                </div>
                <div class="flex-body scroll">
                    <!-- ko foreach: RetardsPaiement -->
                    <div class="alternate-bg-color grid thin">
                        <div class="cell short center-text" data-bind="text: Contrat.Branche"></div>
                        <div class="cell long center-text" data-bind="text: Contrat.Code"></div>
                        <div class="cell short center-text" data-bind="text: Contrat.Version"></div>
                        <div class="cell long center-text" data-bind="text: DateValidationContrat"></div>
                        <div class="cell long center-text auto-shorten" data-bind="text: Courtier, attr: { title: Courtier }"></div>
                        <div class="cell long center-text" data-bind="text: Prime.DateEcheance"></div>
                        <div class="cell long center-text" data-bind="text: Prime.LibelleRelance"></div>
                        <div class="cell long right-text rpad" data-bind="autoNumeric: { value: Prime.Montant, min: -99999999999.99, max: 99999999999.99 }" albMask="decimal"></div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <div data-bind="visible: hasResults, attr: { name: paging.buttons.componentName }, component: { name: paging.buttons.componentName, params: { pageSize: PageSize(), listName: ListName() } }"></div>
        </div>
        <!-- ko if: hasResults -->
        <div class="main-big-title">
            Montant total retards de paiement : <span class="bold" data-bind="autoNumeric: { value: MontantTotal, min: -99999999999.99, max: 99999999999.99 }" albMask="decimal"></span>&nbsp;<span class="bold">€</span>
        </div>
        <!-- /ko -->
    </div>
</div>
