@model ALBINGIA.OP.OP_MVC.Models.ModelesClauses.ModeleDDLOptions
<div id="divOptions">
    <div class="FloatLeft">
        <label class="Block">Option</label>
    </div>
    <div class="FloatLeft">
        @Html.AlbDropDownListFor(m => m.Option, Model.Options, "Option", htmlAttributes: new { @id = "Option", @class = "Input" }, generateTitle: true, genEmptyLine: false)
    </div>
</div>
