@model ALBINGIA.OP.OP_MVC.Models.ModelesClauses.ModeleDDLFormules
<div id="divFormules">
    <div class="GenericColumn">
        <div class="FloatLeft">
            @Html.AlbLabelFor(m => m.Formule, "Block")
            <label class="Block">Formule</label>
        </div>
        <div class="FloatLeft">
            @Html.AlbDropDownListFor(m => m.Formule, Model.Formules, "Formule", htmlAttributes: new { @id = "Formule", @class = "Input" }, generateTitle: true, genEmptyLine: false)
        </div>
    </div>
    <div class="GenericColumn">
        @Html.Partial("ListOptions", Model.DDLOptions)
    </div>
</div>
