<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.2;User Id=YALBIN;Password=YALBIN;Init Libl=&quot;ZALBINKHEO;GENERALE;YAlbinPgm&quot;;Pooled=true;PoolLimit=20;PoolTimeout=10" />-->
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.2;User Id=ZKDEV;Password=ZKDEV;Init Libl=&quot;*LIBL;SYSIBM&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.2;User Id=ZKSPP;Password=ZKSPP;Init Libl=&quot;*LIBL;SYSIBM&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.2;User Id=ZKFIX;Password=ZKFIX;Init Libl=&quot;*LIBL;SYSIBM&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
    <add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.2;User Id=ZKALIF;Password=ZKALIF;Init Libl=&quot;*LIBL;SYSIBM&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.2;User Id=ZFORM;Password=ZFORM;Init Libl=&quot;*LIBL&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.2;User Id=KPRE;Password=KPRE;Init Libl=&quot;*LIBL&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->
    <!--<add providerName="System.Data.EasycomClient" name="EasyCom" connectionString="Server=10.1.2.2;User Id=KPROD;Password=KPROD;Init Libl=&quot;*LIBL&quot;;Pooled=true;PoolLimit=20;PoolTimeout=120" />-->

  </connectionStrings>
  <appSettings>
   
    <add key="UseGoogleMaps" value="true"/>
    <add key="Url" value="https://maps.googleapis.com/maps/api/geocode/json?"/>
    <add key="GoogleMapsKey" value="AIzaSyA164MOQCxkiahAqkRJI3VMafdOOG9twuA"/> <!---AIzaSyA164MOQCxkiahAqkRJI3VMafdOOG9twuA-->
    <!--<add key="GoogleMapsKey" value="AIzaSyCFvFQGJhY-5bMYhHmblzKsGY96EFi_tuU"/>-->
    <add key="ToMails" value="erwan.coulm@albingia.fr;jean-luc.weng@albingia.fr"/> <!--Mails seperated by ;--> <!--erwan.coulm@albingia.fr-->
    <add key="LogPath" value="C:\LOG"/>
    <add key="LogFileName" value="Hexavia_Geocoding"/>
    <!-- Reset Geocoding / Delete All Location from KGEOLOC-->
    <add key="ResetGeocoding" value="false"/>
  
    
    
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@albingia.fr">
        <network host="MAIL2010.albingia.local" enableSsl="false" defaultCredentials="false" password="usercom" userName="usercom@albingia.fr" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>