
<!DOCTYPE html>
<html>
<head>
    @AlbAddCssJsScripts.AddScriptBundle("~/Scripts/jQuery.js")
    @Html.Partial("~/Views/Shared/LayoutPage/LayoutScriptCSS.cshtml")
</head>
<body>
    @RenderBody()
</body>
</html>
