.FieldBandeauBold11 {
    float: left;
    font-weight: bold;
    margin-right: 37px;
    width: 125px;
}

.FieldBandeauBold12 {
    float: left;
    font-weight: bold;
    margin-right: 79px;
    width: 100px;
}

.FieldBandeauBold13 {
    float: left;
    font-weight: bold;
    margin-right: 37px;
}

.FieldBandeauBold21 {
    float: left;
    font-weight: bold;
    margin-right: 60px;
}

.FieldBandeauBold22 {
    float: left;
    font-weight: bold;
    margin-right: 9px;
}

.FieldBandeauBold23 {
    float: left;
    font-weight: bold;
    margin-right: 34px;
}

.FieldBandeauBold31 {
    float: left;
    font-weight: bold;
    margin-right: 76px;
}

.FieldBandeauBold32 {
    float: left;
    font-weight: bold;
    margin-right: 124px;
}

.FieldBandeauBold33 {
    float: left;
    font-weight: bold;
    margin-right: 55px;
}

.DivEntete12 {
    width: 55px;
}

.DivEntete23 {
    width: 63px;
}

.DivEntete32 {
    width: 79px;
}

.DivEntete33 {
    width: 28px;
}

.DivEntete13 {
    width: 63px;
}

.DivEnteteDate {
    width: 21px;
}

.label32 {
    font-size: 12px;
    padding-left: 74px;
    padding-top: 2px;
    width: 42px;
}

.label33 {
    font-size: 12px;
    padding-left: 140px;
    padding-top: 2px;
    width: 42px;
}

.FieldBandeauDate {
    float: left;
    margin-right: 1px;
}

.FieldBandeauBoldDateFinVide {
    float: left;
    font-weight: bold;
    margin-right: 91px;
}

.DivEntete32 {
    width: 32px;
}

.FieldBandeauBoldFullRow {
    float: left;
    font-weight: bold;
    margin-right: 37px;
    width: 550px;
}

.FieldBandeauBoldEntete {
    float: left;
    margin-right: 20px;
    font-weight: bold;
}

