body .valeur-unite-type-taxe .valeur {
  width: 130px;
  text-align: right;
  margin: 2px;
}
body .valeur-unite-type-taxe .unites,
body .valeur-unite-type-taxe .taxe {
  width: 65px;
  margin: 2px;
}
body .valeur-unite-type-taxe .types {
  width: 100px;
  margin: 2px;
}
body .padding5 {
  padding: 5px;
}
body .margin5 {
  margin: 5px;
}
body .required_dt {
    margin: 5px;
    border: 1px solid red !important;
    background-color: #fee !important;
}
body .mgl85 {
  margin-left: 85px;
}
body .ui-widget {
  font-family: inherit;
}
body .center-content {
  text-align: center;
}
body .align-right {
  float: right;
}
body .top-away {
  margin-top: 15px;
}
body label.block-line {
  width: 105px;
  display: inline-block;
}
body label.block-long-line {
  width: 200px;
  display: inline-block;
}
body label.block-line input[type='checkbox'],
body label.block-long-line input[type='checkbox'] {
  margin: 0;
}
body div.clear-float::after {
  clear: both;
  display: block;
  content: '';
}
body .inline-w100p {
  width: 100%;
  display: inline-block;
}
body .inline-w95p {
  width: 95%;
  display: inline-block;
}
body .block-w100p {
  width: 100%;
  display: block;
}
body .center-content {
  text-align: center;
  align-items: center;
}
body .center-content * {
  margin: auto;
}
body i.add-img-cell {
  height: 32px;
  display: inline-block;
}
body i.add-img-cell,
body th.add-img-cell,
body td.add-img-cell,
body span.add-img-cell,
body div.add-img-cell {
  background-image: url('Images/plusajouter1616.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 32px;
}
body i.add-img-cell.disabled,
body th.add-img-cell.disabled,
body td.add-img-cell.disabled,
body span.add-img-cell.disabled,
body div.add-img-cell.disabled {
  background: url('Images/plusajouter_gris1616.jpg') no-repeat center center, -webkit-gradient(linear, center top, center bottom, color-stop(0, #fff), color-stop(1, #ddd)) !important;
  background: url('Images/plusajouter_gris1616.jpg') no-repeat center center, -moz-linear-gradient(top, #fff, #ddd) !important;
  cursor: none;
  pointer-events: none;
}
body span.add-img-cell.disableAddItem {
  background: url('Images/plusajouter_gris1616.jpg') no-repeat center center, -webkit-gradient(linear, center top, center bottom, color-stop(0, #fff), color-stop(1, #ddd)) !important;
  background: url('Images/plusajouter_gris1616.jpg') no-repeat center center, -moz-linear-gradient(top, #fff, #ddd) !important;
  cursor: none;
  pointer-events: none;
}
body i.info-img,
body th.info-img,
body td.info-img,
body span.info-img,
body div.info-img {
  background-image: url('Images/alertes/notif_icn_info16.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 32px;
}
body i.save-img-cell,
body th.save-img-cell,
body td.save-img-cell,
body span.save-img-cell,
body div.save-img-cell {
  background-image: url('Images/Save_16.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 32px;
}
body i.delete-img-cell,
body th.delete-img-cell,
body td.delete-img-cell,
body span.delete-img-cell,
body div.delete-img-cell {
  background-image: url('Images/poubelle1616.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 32px;
}
body i.cancel-img-cell,
body th.cancel-img-cell,
body td.cancel-img-cell,
body span.cancel-img-cell,
body div.cancel-img-cell {
  background-image: url('Images/cancel.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 32px;
}
body i.reset-img-cell,
body th.reset-img-cell,
body td.reset-img-cell,
body span.reset-img-cell,
body div.reset-img-cell {
  background-image: url('Images/reset.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 32px;
}
body i.pen-img-cell,
body th.pen-img-cell,
body td.pen-img-cell,
body span.pen-img-cell,
body div.pen-img-cell,
body i.edit-img-cell,
body th.edit-img-cell,
body td.edit-img-cell,
body span.edit-img-cell,
body div.edit-img-cell {
  background-image: url('Images/editer1616.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 32px;
}
body i.disable-img-cell,
body th.disable-img-cell,
body td.disable-img-cell,
body span.disable-img-cell,
body div.disable-img-cell {
  background-image: url('Images/desactiver.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 32px;
}
body i.disable-img-cell.disabled,
body th.disable-img-cell.disabled,
body td.disable-img-cell.disabled,
body span.disable-img-cell.disabled,
body div.disable-img-cell.disabled {
  background-image: url('Images/desactiverOFF.png');
}
body i.error-img-cell,
body th.error-img-cell,
body td.error-img-cell,
body span.error-img-cell,
body div.error-img-cell {
  background-image: url('Images/alertes/notif_icn_crit16.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 16px;
}
body i.expanded-img-cell,
body th.expanded-img-cell,
body td.expanded-img-cell,
body span.expanded-img-cell,
body div.expanded-img-cell {
  background-image: url('Images/Op.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 16px;
}
body i.collapsed-img-cell,
body th.collapsed-img-cell,
body td.collapsed-img-cell,
body span.collapsed-img-cell,
body div.collapsed-img-cell {
  background-image: url('Images/Cl.png');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 16px;
}
body i.grp-link,
body th.grp-link,
body td.grp-link,
body span.grp-link,
body div.grp-link {
  background-image: url('Images/favicon-grp2011.ico');
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 22px;
  height: 15px;
  display: inline-block;
}
body i.loading,
body th.loading,
body td.loading,
body span.loading,
body div.loading {
  background-image: url('Images/ajax-loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 75%;
  cursor: pointer;
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: inline-block;
}
body i.citrix-link,
body th.citrix-link,
body td.citrix-link,
body span.citrix-link,
body div.citrix-link {
  background-image: url('Images/citrix.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 75%;
  cursor: pointer;
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: inline-block;
}
body i.png,
body th.png,
body td.png,
body span.png,
body div.png {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  display: inline-block;
  width: 32px;
  height: 32px;
}
body i.png.png24,
body th.png.png24,
body td.png.png24,
body span.png.png24,
body div.png.png24 {
  width: 24px;
  height: 24px;
  background-size: auto 75%;
}
body i.png.refresh,
body th.png.refresh,
body td.png.refresh,
body span.png.refresh,
body div.png.refresh {
  background-image: url('Images/refresh.png');
}
body i.png.move-right,
body th.png.move-right,
body td.png.move-right,
body span.png.move-right,
body div.png.move-right {
  background-image: url('Images/deplacer32.png');
}
body i.png.move-left,
body th.png.move-left,
body td.png.move-left,
body span.png.move-left,
body div.png.move-left {
  background-image: url('Images/deplacer-gauche32.png');
}
body i.png.merge,
body th.png.merge,
body td.png.merge,
body span.png.merge,
body div.png.merge {
  background-image: url('Images/fusionner32.png');
}
body i.type-affaire,
body th.type-affaire,
body td.type-affaire,
body span.type-affaire,
body div.type-affaire {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url('Images/type_C_16.png');
}
body i.type-affaire.offre,
body th.type-affaire.offre,
body td.type-affaire.offre,
body span.type-affaire.offre,
body div.type-affaire.offre {
  background-image: url('Images/type_O_16.png');
}
body i.type-affaire.mere,
body th.type-affaire.mere,
body td.type-affaire.mere,
body span.type-affaire.mere,
body div.type-affaire.mere {
  background-image: url('Images/type_M_16.png');
}
body i.type-affaire.aliment,
body th.type-affaire.aliment,
body td.type-affaire.aliment,
body span.type-affaire.aliment,
body div.type-affaire.aliment {
  background-image: url('Images/type_A_16.png');
}
body i.type-affaire.dbloffre,
body th.type-affaire.dbloffre,
body td.type-affaire.dbloffre,
body span.type-affaire.dbloffre,
body div.type-affaire.dbloffre {
  background-image: url('Images/type_OO_16.png');
}
body .left-img {
  cursor: pointer;
  display: block;
  padding-left: 25px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: left center;
}
body .left-img.clock-history {
  background-image: url("Images/Clock-History-Frame-16.png");
}
body .left-img.text-file {
  background-image: url("Images/LayoutArbre/u100_original.gif");
}
body .left-img.connexites {
  background-image: url("Images/connexite16.png");
}
body .left-img.frais-quittance {
  background-image: url("Images/Quittance/frais.png");
}
body .left-img.observations {
  background-image: url("Images/u408_normal.gif");
}
body .left-img.alertes {
  background-image: url("Images/ControleFin/A.png");
}
body .left-img.citrix {
  background-image: url("Images/citrix.png");
  background-size: auto 75%;
}
body input[type=text].xl {
  width: 615px;
}
body input[type=text].short {
  width: 30px;
}
body input[type=text].alert {
  border-color: red;
}
body .observations-readonly {
  width: 385px;
  height: 50px;
  border: 1px solid #cdcdcd;
  color: #cdcdcd;
  background-color: white;
  overflow-y: auto;
}
body .textarea-position {
  position: absolute;
  margin-top: 7px;
  margin-left: -7px;
}
body textarea.observations700-50 {
  width: 700px;
  height: 50px;
  margin-bottom: 5px;
}
body .observations-apercu {
  background-color: white;
  border: 1px solid #CDCDCD;
  color: #CDCDCD;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 676px;
  padding-top: 2px;
  padding-left: 2px;
}
body .radios-inline {
  height: 40px;
  margin: 0;
  padding: 2px 0;
}
body .flex-table-container:after {
  content: '';
  clear: both;
  display: block;
}
body .pad7 {
  padding: 7px;
}
body .flex-table h1:first-child {
  font-weight: bold;
  font-size: larger;
}
body .flex-table span.cell,
body .flex-table div.cell {
  padding: 0;
  margin: 2px 1px;
  width: 90px;
}
body .flex-table span.cell.full,
body .flex-table div.cell.full {
  width: 100%;
}
body .flex-table span.cell.flex1,
body .flex-table div.cell.flex1 {
  width: auto;
  flex: 1;
}
body .flex-table span.cell.flex2,
body .flex-table div.cell.flex2 {
  width: auto;
  flex: 2;
}
body .flex-table span.cell.flex3,
body .flex-table div.cell.flex3 {
  width: auto;
  flex: 3;
}
body .flex-table span.cell.flex4,
body .flex-table div.cell.flex4 {
  width: auto;
  flex: 4;
}
body .flex-table span.cell.tiny,
body .flex-table div.cell.tiny {
  width: 30px;
}
body .flex-table span.cell.short,
body .flex-table div.cell.short {
  width: 50px;
}
body .flex-table span.cell.longer,
body .flex-table div.cell.longer {
  width: 105px;
}
body .flex-table span.cell.long,
body .flex-table div.cell.long {
  width: 130px;
}
body .flex-table span.cell.pretty-long,
body .flex-table div.cell.pretty-long {
  width: 250px;
}
body .flex-table span.cell.very-long,
body .flex-table div.cell.very-long {
  width: 500px;
}
body .flex-table span.cell.extremely-long,
body .flex-table div.cell.extremely-long {
  width: 800px;
}
body .flex-table span.cell.no-space,
body .flex-table div.cell.no-space {
  margin: 0;
}
body .flex-table span.cell .pad21-lf,
body .flex-table div.cell .pad21-lf {
  padding-left: 21px;
}
body .flex-table span.cell.lpad,
body .flex-table div.cell.lpad {
  padding-left: 5px;
}
body .flex-table span.cell.rpad,
body .flex-table div.cell.rpad {
  padding-right: 5px;
}
body .flex-table span.cell.auto-shorten,
body .flex-table div.cell.auto-shorten {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
body .flex-table .flex-header {
  display: flex;
}
body .flex-table .flex-header .cell {
  height: 30px;
  line-height: 30px;
}
body .flex-table .flex-header.thin .cell {
  height: 20px;
  line-height: 20px;
}
body .flex-table .flex-header.thick .cell {
  height: 40px;
  line-height: 40px;
}
body .flex-table .flex-header > span.cell {
  font-weight: bold;
  text-align: center;
}
body .flex-table .flex-header > span.cell.text-wrap {
  line-height: normal;
}
body .flex-table .flex-header.vertical-gradient > span.cell {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dddddd');
  background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  -pie-background: linear-gradient(#FFF, #DDD);
  background-color: #eee;
  background-image: linear-gradient(to bottom, #FFF, #DDD);
}
body .flex-table .flex-header.vertical-gradient > span.add-img-cell {
  background: url('Images/plusajouter1616.png') no-repeat center center, -webkit-gradient(linear, center top, center bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: url('Images/plusajouter1616.png') no-repeat center center, -moz-linear-gradient(top, #fff, #ddd);
  -pie-background: linear-gradient(#EEFF99, #66EE33);
  background-color: #eee;
  cursor: pointer;
  width: 32px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 2px 1px;
}
body .flex-table .flex-header.w90p {
  width: 90%;
}
body .flex-table .flex-body {
  display: inline-block;
}
body .flex-table .flex-body.full-block {
  display: block;
}
body .flex-table .flex-body.no-scroll {
  overflow: hidden;
}
body .flex-table .flex-body.scroll {
  max-height: 210px;
  overflow-y: auto;
  overflow-x: hidden;
  width: auto;
}
body .flex-table .flex-body.scroll.w90p {
  width: 90%;
}
body .flex-table .flex-body.small-scroll {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
body .flex-table .flex-body.big-scroll {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
body .flex-table .flex-body > div {
  flex: 1;
  display: flex;
}
body .flex-table .flex-body > div.hide-it {
  display: none;
}
body .flex-table .flex-body > div .cell {
  height: 30px;
  line-height: 30px;
}
body .flex-table .flex-body > div.thin .cell {
  height: 20px;
  line-height: 20px;
}
body .flex-table .flex-body > div.auto-height .cell {
  height: auto;
  line-height: 20px;
}
body .flex-table .flex-body > div.thick .cell {
  height: 40px;
  line-height: 40px;
}
body .flex-table .flex-body > div.alternate-bg-color:nth-child(odd) {
  background-color: #FFF;
}
body .flex-table .flex-body > div.alternate-bg-color:nth-child(even) {
  background-color: #EDEEFF;
}
body .flex-table .flex-body > div.grid div.cell {
  border-left: 1px solid #DDD;
  box-sizing: border-box;
}
body .flex-table .flex-body > div.grid div.cell:nth-child(1) {
  border-left: none;
}
body .flex-table .flex-body > div.content-right {
  justify-content: flex-end;
  min-height: 32px;
}
body .flex-table .flex-body > div div.cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
body .flex-table .flex-body > div div.cell.flex1 {
  width: auto;
  flex: 1;
}
body .flex-table .flex-body > div div.cell.flex2 {
  width: auto;
  flex: 2;
}
body .flex-table .flex-body > div div.cell.flex3 {
  width: auto;
  flex: 3;
}
body .flex-table .flex-body > div div.cell.flex4 {
  width: auto;
  flex: 4;
}
body .flex-table .flex-body > div div.cell input[type='text'],
body .flex-table .flex-body > div div.cell select {
  width: 100%;
}
body .flex-table .flex-body > div div.cell input[type='text'].block-margin,
body .flex-table .flex-body > div div.cell select.block-margin {
  display: block;
  margin: 1px 5px;
  width: 90%;
}
body .flex-table .flex-body > div div.cell .link,
body .flex-table .flex-body > div div.cell .link:visited,
body .flex-table .flex-body > div div.cell .link:hover,
body .flex-table .flex-body > div div.cell .link:link,
body .flex-table .flex-body > div div.cell .link:active {
  color: #000;
  text-decoration: underline;
  text-transform: uppercase;
}
body .flex-table .flex-body > div div.cell.single-input {
  text-align: center;
}
body .flex-table .flex-body > div div.cell.single-input select,
body .flex-table .flex-body > div div.cell.single-input input,
body .flex-table .flex-body > div div.cell.single-input textarea {
  width: 90%;
}
body .flex-table .flex-body > div div.cell.center-text {
  text-align: center;
}
body .flex-table .flex-body > div div.cell.right-text {
  text-align: right;
}
body .ko-cloak.hide {
  display: none;
}
body .ko-cloak.conceal {
  visibility: hidden;
}
body .inner-right {
  display: flex;
  align-items: flex-end;
}
body .inner-right .push-right {
  flex: 4;
  display: flex;
  align-self: flex-end;
}
body .inner-right .empty-zone {
  flex: 12;
}
body .flex-display {
  display: flex;
}
body .flex-display .flex1 {
  flex: 1;
}
body .flex-display .flex2 {
  flex: 2;
}
body .flex-display .flex3 {
  flex: 3;
}
body .flex-display .flex4 {
  flex: 4;
}
body .flex-display .flex5 {
  flex: 5;
}
body .flex-display .flex6 {
  flex: 6;
}
body .no-cross-close .ui-dialog-titlebar-close {
  display: none;
}