.btnSearch
{
    width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

/***** Zone Index.html *****/
.widthGrilleNomenclature
{
    width: 1197px !important;
}

.widthGrilleSection
{
    width: 1192px;
}

.dvListGrilleNomenclature
{
    width: 594px;
    height: 524px;
}
/***************************/

/***** Zone ListeGrilles.html *****/
.dvBodyGrille
{
    height: 460px;
    overflow-y: auto;
}

.tableGrille
{
    width: 550px;
    table-layout: fixed;
}

.thCode
{
    width: 100px;
}

.thLibelle
{
    width: 200px;
}

.thTypologie
{
    width: 200px;
}

.thImg
{
    width: 22px;
}

.tdCode
{
    width: 98px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tdLibelle
{
    width: 198px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tdTypologie
{
    width: 198px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tdImg
{
    width: 24px;
}
/**********************************/

/***** Zone AjoutGrille.html *****/
.widthGrilleSemiSection
{
    width: 594px;
}

.dvListCible
{
    height: 278px;
}

.inputCodeGrille
{
    text-transform: uppercase;
}

.dvListTypologie
{
    height: 155px;
}

.thOrdreGrille
{
    width: 22px;
}

.thTypologieGrille
{
    width: 210px;
}

.thLibelleGrille
{
    width: 190px;
}

.thLienGrille
{
    width: 70px;
}

.thImgGrille
{
    width: 44px;
}

.tdOrdreGrille
{
    width: 24px;
    text-align: center;
}

.tdTypologieGrille
{
    width: 212px;
}

.tdTypologieGrilleRead
{
    width: 208px;
    padding-left: 5px;
}

.tdLibelleGrille
{
    width: 192px;
}

.tdLibelleGrilleRead
{
    width: 188px;
    padding-left: 5px;
}

.tdLienGrille
{
    width: 72px;
}

.tdLienGrilleRead
{
    width: 72px;
    text-align: center;
}

.tdImgGrille
{
    width: 48px;
    text-align: center;
}

.libelleGrille
{
    width: 450px !important;
}

.typologieSelect
{
    width: 210px !important;
}

.libTypologie
{
    width: 188px !important;
}

.lienSelect
{
    width: 70px !important;
}

.dvBtnGrille
{
    height: 28px;
}

.dvSelectionValeurs
{
    z-index: 21;
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    background-color: White;
    padding: 5px 0 0 5px;
    width: 795px;
}

.dvBodyCibles
{
    overflow-y: auto;
    height: 225px;
}

.tableCibles
{
    width: 565px;
    table-layout: fixed;
}

.thCiblesBranches
{
    width: 275px;
}

.tdCiblesBranches
{
    width: 273px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*********************************/

/***** Zone ListeValeurNiv.html *****/
.tableValNomclature
{
    width: 150px;
    table-layout: fixed;
}

.tdValNomenclature
{
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/************************************/

/***** Zone SelectionValeurs.html *****/
.widthSelectionValeur
{
    width: 775px !important;
}

.widthSelectionValeurGroup
{
    width: 773px !important;
}

.dvListNiveau
{
    height: 100px;
}

.inputSearchFiltre
{
    text-transform: uppercase;
}

.tableHeaderValeur
{
    width: 745px;
}

.thCheck
{
    width: 23px;
}

.dvBodyValeur
{
    height: 150px;
    overflow-y: auto;
}

.tableBodyValeur
{
    width: 745px;
    table-layout: fixed;
}

.tdCheck
{
    width: 25px;
    text-align: center;
}

.tdNomenclature
{
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.legendNomenclature
{
    font-size: 14px;
    font-weight: bold;
}

.fieldsetNomenclature
{
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
}

.selectedTypo
{
    color: red;
    font-weight: bold;
}

/************************************/
