
.col_HCode
{
    width: 98px;
}

.col_HDescription
{
    width: 410px;
}

.col_HAction
{
    width: 25px;
}

.col_BCode
{
    width: 100px;
}

.col_BDescription
{
    width: 412px;
}

.col_BAction
{
    width: 27px;
    text-align: center;
}

.divHeight
{
    overflow-y: auto;
    height: 475px;
}

.divHeightTypeCompatible
{
    overflow-y: auto;
    height: 388px;
}

.Validation
{
    clear: both;
    padding-bottom: 5px;
    padding-right: 20px;
    text-align: right;
}

.PaddingLeft10
{
    padding-left: 37px;
}

.PaddingLeft5
{
    padding-left: 10px;
}

.GroupHeight
{
    height: 575px;
    margin-left: 12px;
}

#VoletDetails
{
    display: none;
}

#divTypeValeurCompLigneVide
{
    display: none;
}

.searchField
{
    width: 250px;
}

.col_ActionBrancheCible
{
    width: 95px;
}

.col_ActionBrancheCible_in
{
    width: 93px;
}

.col_Branche
{
    width: 175px;
}

.col_Branche_in
{
    width: 173px;
    padding-left: 3px;
}

.col_Cible
{
    width: 175px;
    padding-left: 2px;
}

.col_Cible_in
{
    width: 173px;
}

.colEdition
{
    display: none;
}

.requiredButton
{
    border: 1px solid red;
}

.Gras
{
    font-weight: bold;
}

.HeightSmallRow
{
    height: 12px;
    clear: both;
    margin-bottom: 5px;
}

.col_HType
{
    width: 515px;
}

.col_BType
{
    width: 517px;
}
