@model ALBINGIA.OP.OP_MVC.Models.AffaireNouvelle.AnInformationsGeneralesPage
<div class="DoubleGenericColumn">
    <div class="FloatLeft">
        <label class="Block">Souscripteur*</label>
    </div>
    <div class="FloatLeft">
        @Html.Hidden("SouscripteurSelect", string.Empty, new { albAutoComplete = "autoCompSouscripteurSelect" })
        @Html.HiddenFor(m => m.SouscripteurCode, new { albAutoComplete = "autoCompSouscripteurCode" })
        <input type="text" id="SouscripteurNom" name="SouscripteurNom" albhorsavn value="@(Model.SouscripteurNom)" tabindex="29" class="SuperInput" albAutoComplete="autoCompSouscripteurNom" />
    </div>
</div>
