@model ALBINGIA.OP.OP_MVC.Models.ModelesClauses.ModeleDDLSousRubrique
<div id="SousRubriqueDiv">
    <div class="FloatLeft">
        @Html.AlbDropDownListFor(m => m.SousRubrique, Model.SousRubriques, "SousRubrique", htmlAttributes: new { @id = "SousRubrique" }, generateTitle: true)
    </div>
    @Html.Partial("../ParamClause/ParamClauseSequence", Model.ModeleDDLSequence)
</div>
